@media (min-device-width: 1280px) {

@keyframes loading{
	0% {
		opacity: 0;
	}


	100% {
		opacity: 1;
	}
}


body{
	background-color: #1d1b1e; 
	width: auto;   
}

body a{
	text-decoration: none;
}

body a:hover{
	text-decoration: underline;
}

div#header_desktop{

	display: block;
	position: fixed;
	width: 100%;
	z-index: 2;
	background-color: #1d1b1e; 
	height: 55px;
	border-bottom: 3px solid #f2f2f2 ;

}

#barre_desktop p{
	font-family: 'Conv_SportingGrotesque-Regular';
	font-size: 1em;
	color: white;
	margin-left: 20px;
	display: inline-block;
	margin-top: 20px;	
}

ul#menu_desktop{
	float: right;
	text-align: right;
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
}

#menu_desktop li{
	
	font-family: 'Conv_SportingGrotesque-Regular';
	font-size: 1em;
	display: inline-block;
	color: white;
	margin-right: 20px;
   /* padding-top: 16px;*/
}

#menu_desktop li:hover{
	text-decoration: underline;
}



div#main {
	padding-top: 2%;
/*	margin-right: 18px;
	margin-left: 18px;*/
	width: auto;
	/*background-color: red;*/
	color : WHITE ;
}

.folio{
	width: 100%;
	height: 100%;
	justify-content: space-between;
	animation-name: loading;
	animation-duration: 1s;
	margin-bottom: 20px;
}

/*CONTENUE POUR flex SOUS TITRE*/
.folio_contenue{
	display: flex;
	align-items: flex-end;
	
}


.button{
/*display: none;*/

	
}

.folio_swiper{
	width: 65%;
    margin-left: 9px;
    
}


/*FAIRE EN SORTE QUE SWIPER PAS BUG*/
.folio_solo{
	width: 65%;
}

.img_solo{
	width: 50%;
}

img.solo{
	width: 80%;
    }
          
.folio img{
	max-width: 100%;
}



/*MOVING TITLE*/

/*remove p*/
.marquee-rtl {
  width:100%;
  padding-top: 20px;
  margin:0 auto;
  font-size: 12em;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: 'Conv_BluuNext-Titling';
  font-weight: 300;
  overflow: hidden;   
  position: relative;
 /* border-top: 3px solid #f2f2f2 ;
  border-bottom: : 3px solid #f2f2f2 ;*/	
}

.marquee-rtl > :first-child {
white-space: nowrap;
 /* padding-right: 2em; */                  /* un peu d'espace pour la transition */
  padding-left: -100%; 
animation: defilement-rtl 12s infinite linear;
 
}

.marquee-rtl :after {
content:attr(data-text);
position:absolute;
white-space:nowrap;


}

@keyframes defilement-rtl {
  0% {
    transform: translate3d(0%,0,0);      /* position initiale à droite */
  }
  99.99% {
    transform: translate3d(-100%,0,0);  /* position finale à gauche */
  }
}

.texte-description{
/*width: 25%;*/
    
}



p.description{
	font-family: 'Conv_SportingGrotesque-Regular';
    font-size: 0.8em;
	/*width: 90%;*/
	margin-left: 5%;
	margin-right: 3%;
	line-height: 1.4em;


}

p.tags{
	font-family: 'Conv_SportingGrotesque-Regular';
    font-style: italic;
	font-size: 0.7em;
	margin-left: 5%;
    /*text-align: right;*/
	/*margin-top: -20px;*/
    
}

/*
____   ______________    _____  _________  
\   \ /   /\______   \  /  _  \ \_   ___ \ 
 \   Y   /  |       _/ /  /_\  \/    \  \/ 
  \     /   |    |   \/    |    \     \____
   \___/    |____|_  /\____|__  /\______  /
                   \/         \/        \/ 


*/

	.sq{
		width: 20%;
		float: left;
	}